<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.mroyek.gardupln">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.gangguan.LaporanGangguanActivity" />
        <activity android:name=".activity.gangguan.LaporinGangguanTrafo3" />
        <activity android:name=".activity.gangguan.LaporinGangguanTrafo2" />
        <activity android:name=".activity.gangguan.LaporinGangguanTrafo1" />
        <activity android:name=".activity.gangguan.LaporinGangguanPurworejo" />
        <activity android:name=".activity.history.gangguan.DetailGangguanHistory" />
        <activity android:name=".activity.history.gangguan.HistoryGangguanActivity" />
        <activity android:name=".activity.gangguan.LaporinGangguanGombong" />
        <activity android:name=".activity.gangguan.ChoiceGangguanActivity" />
        <activity android:name=".activity.history.beban.DetailHistoryBebanActivity" />
        <activity android:name=".activity.history.beban.HistoryBebanActivity" />
        <activity android:name=".activity.gangguan.revisi.AddSinyal" />
        <activity android:name=".activity.inspeksi2.Inspeksi2Activity" />
        <activity android:name=".activity.inspeksi1.Inspeksi1Activity" />
        <activity android:name=".activity.MainMenuActivity" />
        <activity android:name=".activity.gangguan.revisi.LaporanGangguanActivity" />
        <activity android:name=".activity.fuad.LaporanBebanActivity2" />
        <activity android:name=".activity.inspeksi2.Trafo2Activity" />
        <activity android:name=".activity.inspeksi2.Diameter2Activity" />
        <activity android:name=".activity.inspeksi2.Transmisi2Activity" />
        <activity android:name=".activity.inspeksi1.Trafo1Activity" />
        <activity android:name=".activity.inspeksi1.Diameter1Activity" />
        <activity android:name=".activity.inspeksi1.Transmisi1Activity" />
        <activity android:name=".activity.InsLaporActivity" />
        <activity android:name=".activity.crud.CrudGarduActivity" />
        <activity android:name=".activity.crud.CrudBayActivity" />
        <activity android:name=".activity.BayActivity" />
        <activity android:name=".activity.GarduActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>